.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  margin: 0;
  height: 100%;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root .ant-layout-sider-children .ant-menu-inline {
  border-inline-end:0 ;
}

.form-card{
  padding: 20px;
  background-color: white;
  border-radius: 12px
}

