<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personalwork.dao.ChecklistTypeMapper">
    <select id="listByUserId" resultType="com.personalwork.domain.entity.ChecklistTypeDo">
        select * from checklist_type where user_id = #{userId} order by id
    </select>
    <select id="getByIdAndUserId" resultType="com.personalwork.domain.entity.ChecklistTypeDo">
        select * from checklist_type where id = #{id} and user_id = #{userId}
    </select>
    <insert id="insert" parameterType="com.personalwork.domain.entity.ChecklistTypeDo" useGeneratedKeys="true" keyProperty="id">
        insert into checklist_type (name, parentid, color, user_id)
        values (#{name}, #{parentId}, #{color}, #{userId})
    </insert>
    <update id="update" parameterType="com.personalwork.domain.entity.ChecklistTypeDo">
        update checklist_type set name = #{name}, parentid = #{parentId}, color = #{color}
        where id = #{id} and user_id = #{userId}
    </update>
    <delete id="deleteByIdAndUserId">
        delete from checklist_type where id = #{id} and user_id = #{userId}
    </delete>
</mapper>
